<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light" (click)="closeModal()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Grafica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Calidad De Aire</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div #container style="width:90%; height:300px;"></div>
    </ion-card-content>
  </ion-card>
</ion-content>
