<ion-app>
    <ion-menu contentId="main-content">
        <ion-header>
            <ion-toolbar color="tertiary">
                <ion-title>Menu de opciones</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
            <ion-img [src]="imgLogo"></ion-img>

            <div>
                <ion-button [routerLink]="['']" color="primary" class="mr-3">
                    <ion-icon name="home-outline" slot="start"></ion-icon> 
                    Home
                </ion-button>
                <br>
                <ion-button [routerLink]="['/ayuda']" color="danger">
                    <ion-icon name="call-outline" slot="start"></ion-icon>
                    Llamar a 911
                </ion-button>
            </div>

            <ion-menu-toggle>
                <ion-button shape="round">Cerrar Menu</ion-button>
            </ion-menu-toggle>
        </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>